<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TasteTroop</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  <link rel="shortcut icon" type="x-icon" href="images/tab-icon.png" />
</head>

<body>
    <header>
        <a href="/" class="logo">
            TasteTroop
        </a>

        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/category">Category</a>
                </li>

                {{#if logged_in}}
                // make this recipe-button into the same ui as no-button class
                // the recipe class is to style the tags
                    <a class="recipe" href="/profile">Add Recipes</a>
                    <a class="recipe" id="recipe-button" href="/category/recipe">Recipe</a> |
                    <button class="no-button" id="logout">logout</button>
                {{else}}
                //make this login-button into the same ui as no-button class
                    <a class="recipe" id="login-button" href="/login">Login</a>
                {{/if}}
            </ul>
        </nav>
    </header>

    <main>
        // make right-hero and left-hero be in flex-row
        <div class="right-hero">
            <img src="../../public/images/hero.jpg" alt="Chef TasteTroop">
        </div>

        <div class="left-hero">
            <h3>From TasteTroop to Tastebuds</h3>
            <p>Browse our extensive collection of recipes, and discover new dishes to add to your repertoire. </p>

            <a href="/" class="hero-button">Get Started</a>
            {{#if logged_in}}
                <a id="recipe-button" href="/recipes">Recipes</a> 
                <button class="no-button" id="logout">Logout</button>
            {{/if}}
        </div>
    </main>


    <section>
        {{{ body }}}
    </section>

    <footer>
      
    </footer>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="../../public/js/logout.js"></script>
  {{/if}}
</body>

</html>
